.terms-container {
    padding: 40px;
    background: white;
    color: black;
    height: 100vh;
    overflow-y: auto;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.checkbox-icon {
    font-size: 22px;
    cursor: pointer;
}

.terms-link {
    text-decoration: underline; /*línea abajo */
    color: white; /* o el color que uses */
    font-weight: bold;
    cursor: pointer;
}

.checkboxContainer {
  display: flex;
  justify-content: center; /* 🔥 centra todo horizontal */
  align-items: center;
  gap: 10px; /* espacio entre checkbox y texto */
  margin-top: 40px;
  text-align: center;
}

.checkboxIcon {
  font-size: 22px;
  cursor: pointer;
}

.checkboxText {
  font-size: 14px;
  color: black;
}